/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.margin-top-bot-min {
  margin-top: 2%;
  margin-bottom: 2%;
}
.margin-top-bot-med {
  margin-top: 5%;
  margin-bottom: 5%;
}
.margin-all-min {
  margin: 2%;
}
.nav-margin {
  margin-left: 2%;
  margin-right: 2%;
}
.padding-all-min {
  padding: 2%;
}
.container {
  font-family: "Inconsolata", "Roboto", "Open-Sans", sans-serif;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
@media (max-width: 500px) {
  .container {
    max-height: 600px;
  }
}
.container header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.container header h1 {
  color: #fabebe;
  font-size: 5rem;
  margin-top: 2%;
  margin-bottom: 2%;
}
.container header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container header nav a {
  text-decoration: none;
  color: #ffd8b1;
  font-size: 2rem;
  margin-left: 2%;
  margin-right: 2%;
}
.container .intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .container .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.container .intro .intro-img {
  width: 47%;
}
.container .intro .intro-text {
  width: 47%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.container .intro .intro-text h2 {
  width: 100%;
  font-size: 2rem;
  color: #f58231;
}
.container .intro .intro-text p {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #FF6347;
}
.container .skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}
.container .skills .skills-heading {
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .skills .skills-heading h2 {
  font-size: 3rem;
  color: #e6beff;
}
.container .skills .skills-text {
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .top-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .top-images .work-img {
  width: 47%;
  padding: 2%;
}
.container .top-images .work-img img {
  width: 100%;
  height: 100%;
}
.container .bot-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .bot-images .work-img {
  width: 47%;
  padding: 2%;
}
.container .bot-images .work-img img {
  width: 100%;
  height: 100%;
}
.container footer {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.container footer .contact nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container footer .contact nav a {
  text-decoration: none;
  color: #4363d8;
  margin-left: 2%;
  margin-right: 2%;
}
